.buttonContainer button {
  min-width: auto;
  margin: 0;
  padding: 1rem;
}

.buttonContainer button svg {
  width: 2rem;
  height: 2rem;
}

.responsiveTable {
  overflow-x: auto;
  border-radius: 0.8rem;
}